.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;

}

.navbar__links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(168, 174, 191, 1);
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.link__active {
    color: rgba(255, 255, 255, 1);
}

