.cardGrid {
    margin-top: 80px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
    gap: 24px;
}

.notFoundMessage {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px auto;
}
